---
import MatrixForm from '@/components/MatrixForm'
import Layout from '@/Layouts/Layout.astro'
import ShowMatrixes from '@/components/ShowMatrixes'
---

<Layout>
  <h1>Astro</h1>
  <main class='max-w-[100vw] mb-80'>
    <section class="grid grid-cols-2 place-content-center min-h-[600px]">
      <MatrixForm client:visible />
      <MatrixForm client:visible />
    </section>
    <ShowMatrixes client:visible />
  </main>
</Layout>
<style is:global>
</style>
