---
import MatrixForm from '@/components/MatrixForm'
import Layout from '@/Layouts/Layout.astro'
import ShowMatrixes from '@/components/ShowMatrixes'
---

<Layout>
  <h1>Astro</h1>
  <main class="">
    <MatrixForm client:visible />
    <ShowMatrixes client:visible />
  </main>
</Layout>
<style is:global>
  .paren{
    background-image: url('blob:https://dash.cloudflare.com/479b3e29-35ea-40da-b27b-2e5693b48d6b');
    background-position: 0;
  }
</style>