---
import MatrixForm from '@/components/MatrixForm'
import Layout from '@/Layouts/Layout.astro'
---

<Layout>
  <h1>Astro</h1>
  <main class="">
    <MatrixForm client:visible />
  </main>
</Layout>
