---

---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class='grid h-screen place-content-center bg-slate-600'>
    <h1>Astro</h1>
    <form>
      <div>
        <input type='number' />
        <input type='number' />
      </div>
      <div>
        <input type='number' />
        <input type='number' />
      </div>
      <button type='submit'> Subir </button>
    </form>
  </body>
</html>

<style>
  input {
    @apply mb-2 h-20 w-20 border-2 bg-slate-700 text-center text-white;
  }
</style>
<script>
  const form = document.querySelector('form') as HTMLFormElement
  form.addEventListener('submit', (e) => {
    const formdata = new FormData(form)
  })
</script>
